@model StudentClass
@{
    ViewData["Title"] = "Create Class";
}

<div class="container" style="height:78vh; width:auto">
    <div class="row justify-content-center align-items-center" style="height:78vh; width:auto">
        <div class="col-6">
            <div class="card bg-primary text-white rounded-3">
                <div class="card-body text-center">
                    <div>
                        <h2 class="text-uppercase my-3 mb-5">Create Class</h2>
                        <form method="post">
                            <div class=" form-floating text-primary mb-3">
                                <input asp-for="Year" id="YearInput" type="number" class="form-control" placeholder="Semester"/>
                                <label asp-for="Year" for="YearInput" class="form-label">Year</label>
                                <span asp-validation-for="Year" class="text-danger"></span>
                            </div>
                            <div class=" form-floating text-primary mb-3">
                                <input asp-for="Semester" id="SemesterInput" type="number" class="form-control" placeholder="Semester"/>
                                <label asp-for="Semester" for="SemesterInput" class="form-label">Semester</label>
                                <span asp-validation-for="Semester" class="text-danger"></span>
                            </div>
                            
                            <div class="d-grid mb-3">
                                <button type="submit" class="btn btn-lg btn-secondary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}